@import "tailwindcss";
@import 'highlight.js/styles/tokyo-night-dark.css'; /* 代码高亮 */

:root {
    --primary-color: #9a70dd; /* 主色调 */
    --secondary-color: #ffed4a; /* 次色调 */
    --background-gray: #f7f7f7; /* 背景色 */
    --background-text-gray: #99a1af; /* 背景文字色 */
    --divided-line: #e4e7e7; /* 分割线 */
    --hover-gray: #f1f2f2; /* 悬浮灰色 */
}