@import "tailwindcss";

:root {
    --primary-color: #ffdd1f; /* 主色调 */
    --secondary-color: #ffed4a; /* 次色调 */
    --background-gray: #f7f7f7; /* 背景色 */
    --background-text-gray: #99a1af; /* 背景文字色 */
    --divided-line: #e4e7e7; /* 分割线 */
    --hover-gray: #f1f2f2; /* 悬浮灰色 */
    --succeed-color: #67c23a;   /* 成功色 */
    --error-color: #f56c6c;    /* 错误色 */
}